*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00acee;
}
body h2{
    font-size: 30px;
    color: white;
    padding-top: 50px;
    margin: auto;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 450px;
    height: 750px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 2px 3px gray ;
    margin-left: -70px;
    margin-top: -150px;
}
.lable{
    margin-bottom: 5px;
}
.details a{
    text-decoration: none;
    padding: 2px;
}
.details .name{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 15px;
}
.details .flex{
    margin-top: 15px;
}

body main{
    padding-top: 150px;
}
body main .form{
   margin: auto;
   width:300px;
}
.flex{
    display: flex;
    flex-direction: column;
    padding-top: 3px;
}
.name .input{
    padding: 5px;
    width: 190px;
    height: 30px;
    border-radius: 10px;
    border:1px solid gray;
    margin-left: -10px;
    margin-top: 5px;
}
.flex .input{
    padding: 5px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border:1px solid gray;
}
.submit button{
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid #00acee;
    background-color: #ffffff;
    font-size: 20px;
    color: #00acee;
    margin-top: 10px;
}
.submit button:hover{
    border: 2px solid blac;
    color: white;
    background-color: #00acee;
}

.details input:valid {
    border: 2px solid green;
}

.details input:focus {
    border: 2px solid red;
}

.details input:focus:invalid {
    box-shadow: none;
}

.details .password_required {
    display: none;
}

.details input:invalid + .password_required {
    display: block;
}




  .password_required{
    max-width: 23rem;
    color: #00acee;
  }








@media only screen and (max-width: 420px){

    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 25rem;
        height: 90%;
        background-color: #ffffff;
        border-radius: 20px;
        box-shadow: 2px 1px 2px gray ;
        margin-left: -50px;
        margin-top: -150px;
    }

    .name .input{
        padding: 5px;
        width: 160px;
        height: 30px;
        border-radius: 10px;
        border:1px solid gray;
        margin-left: -10px;
        margin-top: 5px;
    }
    .flex .input{
        padding: 5px;
        width: 350px;
        height: 30px;
        border-radius: 10px;
        border:1px solid gray;
    }
}