*{
    padding: 0px;
    margin: 0px;
}
/*--header--*/
body header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #00acee;
    position: sticky;
    top: 0px;
    width: auto;
}
body header .logo{
    display: flex;
    align-items: center;
}
body header .logo img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 30px;
}
body header .logo .name{
    font-size: 50px;
    color: white;
    margin-left: 10px;
}
body header .options{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
body header .options a{
    margin-left: 50px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
}
/*--post details*/
.post_details{
    height: 100%;
    max-width:38rem;
    margin: auto;
    padding: 0px 3px 0px 3px;
    
}
.post_details .post .comment{
    display: flex;
    flex-direction: unset;
    justify-content: space-evenly;
    padding-top: 30px;
}
.post_details .post .comment input{
    padding: 10px;
    width: 200px;
    border: 0px;
    border-radius: 5px;
}
.post_details .post .comment input:focus{
    outline: 0px;
}
.post_details .post .comment button{
    border-radius: 10px;
    border: 2px solid #00acee;
    background-color: white;
    padding: 10px 25px;
    margin-left: -6rem;
}
/*--comment list*/
.main .post_details .comment_list{
    margin-top: 20px;
    margin-left: 20px;
}
.main .post_details .comment_list .user_list .user .user_name{
    padding-left: 10px;
    font-size: 20px;
    color: #00acee;
}
.main .post_details .comment_list .user_list .user .post_cuntent{
    padding: 10px 0px 0px 10px;
    color: #333333;
    max-width: 300px;
}
.main .post_details .comment_list .user_list{
    display: flex;
    flex-direction: row;
}
.main .post_details .comment_list .user_list .img .profile_img{
    border-radius: 25px;
}
.user_list .user{
    margin-left: 20px;
    padding: 5px 15px;
    background-color: #F2F3F4;
    border-radius: 20px;
}
.comment_list .like{
    width: 5rem;
    height: 1.5rem;
    background-color: #d4d4d4;
    border-radius: 15px;
    margin: 6px 0px 6px 70px;

}
.comment_list .like .like_count{
    font-size: 14px;
    color: gray;
    margin-left: 15px;
    margin-top: -10px;
}
.comment_list .like a{
    margin-top: 10px;
    margin-left: 10px;
}
/*--post--*/
.main .post{
    background-color: #F2F3F4;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 20px;
    
}
.post:hover{
    background-color: #F2F3F4;
}
.post .user_list{
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px;
    border: 1px solid #F2F3F4;
    border-radius: 10px;
}
.post .user_list .img{
    padding-top: 10px;   
}
.post .user_list .img .profile_img{
    border-radius: 30px;
    margin-top: 15px;
    margin-left: 20px;
}
.post .user .user_name{
    font-size: 24px;
    padding:15px 0px 0px 0px;
    color: #00acee;
}
.post .user .post_cuntent{
    padding:10px 0px 15px 30px;
    max-width: 25rem;
}
.post .post_img{
    max-width: 20rem;
    height: auto;
    padding: 10px 0px 0px 80px;
}
.post .post_img img{
    width:100%;
    border-radius: 15px;
}
body header .home_button{
    float: right;
    margin-top: -40px;
}
body header .home_button button{
    padding: 5px 15px;
}
.center .post .comment{
    padding-bottom: 20px;
}
.tag{
    color: #00acee;
}
a{
    text-decoration: none;
    color: black;
}

