*{
    margin: 0px;
    padding: 0px;
}
/*--header--*/
body header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #00acee;
    position: sticky;
    top: 0px;
    width: auto;
}
body header .logo{
    display: flex;
    align-items: center;
}
body header .logo img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 30px;
}
body header .logo .name{
    font-size: 50px;
    color: white;
    margin-left: 10px;
}
body header .options{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
body header .options a{
    margin-left: 50px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
}
/*--post--*/

main .post_list{
    max-width: 38rem;
    display: flex;
    flex-direction: column;
}
main .post_list .create_new_post .new_post .post_content img{
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 25px;
}
main .post_list .create_new_post .new_post .post_content .input{
    border: 0px;
    width: 20rem;
    margin-top: 30px;
    margin-left: 10px;
    /* border-radius: 10px; */
    padding-left: 10px;
    font-size: 15px;
}
main .post_list .create_new_post .new_post .post_content .input::-webkit-scrollbar {
    display: none;
   }

main .post_list .create_new_post .profile .limit_count{
    position: relative;
    top: 65px;
    right: 17px;
    font-size: 13px;
}

.post .user_list .img img{
    width: 50px;
    height: 50px;
}
.submit{
    margin-top: -20px;
}
.post{
    margin-top: 10px;
    border-radius: 15px;
    background-color:  #f2f3f4;
}
.post:hover{
    background-color:#e0e0e0;
}
.post .user_list{
    display: flex;
    flex-direction: row;
}
.post .user_list .img{
    margin-left: 10px;
    padding-top: 10px;   
}
.post .user_list .img .profile_img{
    border-radius: 25px;
}
.post .user .user_name{
    font-size: 18px;
    padding:15px 0px 0px 10px;
    color:#00acee;
}
.post .user a{
    text-decoration: none;
}
.post .user .post_cuntent{
    padding:10px 0px 0px 30px;
    max-width: 25rem;
}
.post .post_img{
    max-width: 25rem;
    height: auto;
    padding: 10px 0px 0px 80px;
}
.post .post_img img{
    width:100%;
    border-radius: 15px;
}
.post .like_comand{
    display: flex;
    flex-direction: row;
    margin: 20px 0px 10px 80px;
    padding-bottom: 15px;
}
.post .like_comand .like_count{
    font-size: 14px;
    color: gray;
    margin-left: 15px;
    margin-top: -10px;
}

.post .like_comand .like{
    width: 8rem;
    height: 2rem;
   
    border-radius: 15px;
    margin: 6px 0px 6px 0px;
}
.post .like_comand .comand{
    width: 8rem;
    height: 2rem;
    
    border-radius: 15px;
    margin: 6px 0px 6px 30px;
}
.post .like_comand a{
    text-decoration: none;
}
.like i,.comand i{
    margin-top: 5px;
    margin-left: 15px;
}
body header .home_button{
    float: right;
    margin-top: -40px;
}
body header .home_button button{
    padding: 5px 15px;
}
.tag{
    color: #00acee;
}
/*--create new--*/
.post_list .create_new_post{
    max-width: 38rem;
    padding-bottom: 20px;
    margin: auto;
    border-radius: 15px;
    background-color: #f2f3f4;
}
.post_list .create_new_post .new_post .post_content{
    display: flex;
    flex-direction: column;
}

main .profile{
    display: flex;
    flex-direction: row;
    padding-right: 60px;
}
.file_upload{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}
.post_content .file_upload{
    padding-top: 10px;
}
.post_content .file_upload .file_icon .file{
    margin-top: -30px;
}
.post_content .file_upload .file_icon .file input{
    opacity: calc(0);
    max-width: 3rem;
    margin-left: 20px;
}
.post_content .file_upload .file_icon .icon{
    margin-left: 20px;
}
.post_content .file_upload .submit{
    margin-left: 20rem;
    margin-top: 1rem;
}
.post_content .file_upload .submit .post{
    padding: 8px 22px;
    border-radius: 5px;
    background-color: #00acee;
    margin-top: -20px;
    color: white;
}

/*--right side--*/

body .right_side .right_top{
    height: 28;
    position: sticky;
    top: 90px;
}
body .right_side .right_bottom{
    position: sticky;
    top: 33.6rem;
}
/*list*/
.hex_code{
    font-size: 50px;
    margin-left: -20px;
}
body .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #f2f3f4;
    max-width: 28rem;
    padding: 20px 0px 10px 100px;
    margin: auto;
    margin-top: 10px;
}
body .top .hash{
    display: flex;
    flex-direction: row;
}
body .top .interest{
    float: right;
    margin: 10px 30px 0px 0px;
}

.top .topic_list .topic{
    font-weight: 500;
    font-size: 20px;
    color: #00acee;
    margin-top: 15px;
}


/*--user list--*/
.top_user .user_list p {
    padding: 4px 0px 0px 20px;
    width: 20rem;
}

.top_user .user_list .user_name {
    font-weight: 500;
    font-size: 20px;
    color: #00acee;
}


.top_user .img .profile_img {
    border-radius: 30px;
    height: 50px;
    width: 50px;
}
.gray{
    color: gray;
    margin-left: 20px;
}
/*user*/
body .top_user {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #f2f3f4;
    max-width: 28rem;
    padding: 20px 0px 10px 50px;
    margin: auto;
    margin-top: 10px;
    
}

.top_user .follow_button button {
    margin: 8px 10px 0px -70px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #00acee;
    color: white;
    width: 100px;
    height: 40px;
    
}
a{
    text-decoration: none;
}
/*--align---*/
body main .right_side{
    position: sticky;
}
body main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
body main .right_side .heading{
    font-size: large;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}





















/*--responsive--*/


@media only screen and (max-width: 420px){
    body{
        width: 100%;
    }
    body header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    body header .logo img{
        height: 30px;
        width: 30px;
        border-radius: 15px;
        margin-left: 20px;
    }
    body header .options a{
        margin-left: 10px;
        margin-right: 2px;
        text-decoration: none;
        font-size: 15px;
    }
    .post_content .file_upload .submit{
        margin-left: 8rem;
        margin-top: 3px;
    }
    .post_list .create_new_post{
        width: 95vw;
        height: 17vh;
        padding-bottom: 20px;
        margin: auto;
        border-radius: 15px;
        background-color: #f2f3f4;
    }
    main .post_list{
        max-width: 95vw;
        margin: auto;    
    }
    .post .post_img{
        max-width: 20rem;
        height: auto;
        padding: 10px 0px 0px 10px;
    }
    .post .like_comand{
        display: flex;
        flex-direction: row;
        margin: 20px 0px 10px 10px;
        padding-bottom: 15px;
    }
    main .post_list .create_new_post .new_post .post_content .input{
        width: 15rem;
    }
    
}