/* for font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 100%;
    position: fixed;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
}

/* header */
.header {
    height: 60px;
}

.header_flex {
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.profile_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo_img {
    margin-right: 40px;
    width: 100px;
    height: 50px;

}

.home_icon,
.notification_icon,
.drop_down_i {
    width: 15px;
    height: 15px;
}

.align_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar {
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: -268px;
}

.pro_drop {
    display: flex;
    flex-direction: row;
}

.explore_input {
    height: 30px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 16px;

}

.search_icon {
    margin-left: -322px;
    color: gray;
}

.explore_input:focus {
    outline: 1px solid #00acee;
}

/* dropdown for search result */



.search_div {
    position: relative;
    display: inline-block;
}



.search_result {
    position: absolute;
    top: 52px;
    left: 290px;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 330px;
    height: 450px;
    z-index: 2;
}

.search_user_full_name {
    margin-top: -10px;
    cursor: pointer;
    font-size: 16px;
}

.search_user_name {
    color: gray;
}

.search_pro_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
}

.search_result_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
}

/* dropdown list header */
.drop_down_i {
    padding-top: 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background-color: #FFFEFA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
    display: block;
}

.dropdown_pro {
    cursor: pointer;
}

.selected:hover {
    background-color: #00acee;
    color: #FFFEFA;
}

.delete_op {
    color: red;

}

.delete_op:hover {
    background-color: red;
    color: #FFFEFA;
}

/* for container sections */
.container {
    padding: 10px;
    height: 90%;
}

.container_div {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    height: 100%;
    padding: 12px;
    border-radius: 5px;
}

.section_left,
.section_right {
    width: 25vw;
}

.section_center {
    width: 50vw;
    overflow-y: scroll;
}

.section_center::-webkit-scrollbar {
    width: 0px;
}

/* left side section */

.pro_data_div {
    width: 320px;
    height: 200px;
    margin: 12px;
    border-radius: 10px;
    background-color: #FFFEFA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.suggesions_user {
    width: 320px;
    height: 375px;
    margin: 12px;
    border-radius: 10px;
    background-color: #FFFEFA;
}

/*  profile div */

.user_dp img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user_name_dev {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_name_p {
    color: gray;
}

.view_profile_div {
    text-decoration: none;
    font-weight: 700;
    color: #00acee;
    cursor: pointer;
}

/* suggesions_user_list */
.suggesions_div {
    padding: 16px 0px 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.suggesions_user_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.suggesions_pro {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.suggesions_user_name {
    width: 160px;
    padding-left: 8px;
}

.suggesions_follow_bn {
    width: 80px;
    height: 30px;
    border: 0px;
    border-radius: 3px;
    background-color: #00acee;
    color: #FFFEFA;
    font-weight: 500;
}

/* followers following */
.Followers_list,
.Following_list {
    height: 340px;
    max-height: 260px;
    overflow-y: scroll;
}

/* for scrollbar design */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;

}

/* Track */
::-webkit-scrollbar-track {
    background-color: #FFFEFA;
}

/* Handle */
::-webkit-scrollbar-thumb {

    border-radius: 5px;
    background-color: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #a9a9a9;

}




.follow_div {
    width: 320px;
    
    margin: 12px;
    border-radius: 10px;
    background-color: #FFFEFA;
}

.follow_div h4{
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}
.drop_down_up_icon{
    padding-right: 15px;
    cursor: pointer;
}

.following_div {
    /* width: 320px; */
    background-color: #FFFEFA;
}

.Following_list_div {
    height: 340px;
    
    max-height: 260px;
    overflow-y: scroll;
}

.chat_follow_div{
    width: 320px;
    height: 425px;
    margin: 12px;
    border-radius: 10px;
    background-color: #FFFEFA;
}

.chat_Followers_list{
    height: 370px;
    max-height: 370px;
    overflow-y: scroll;
}


/*  chat design div */


.chat_alert{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00acee;
    color: #fff;
    text-align: center;
    font-size: 13px;
}

.suggesions_follow_alert{
    width: 30px;
    margin-left: 20px;
}
.user_suggesions_user_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 1px solid #000000; */
    margin-top: 7px;
}
.chat_user_full_name{
    /* margin-top: -12px; */
    font-weight: 600;
    margin-left: 5px;
}
.chat_suggesions_pro {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 5px;
}
.chat_suggesions_user_dp{
    margin-left: 10px;
}
.chat_suggesions_pro_user {
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}
.message_container{
    display: flex; 
    overflow-y: scroll;
    flex-direction: column;
    /* justify-content: flex-end; */
    height: 250px;
    max-height: 250px;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */

}

.message_list{
    width: 299px; 
    height: 250px;
    margin: auto;
    display: flex;
    margin-left: 7px;
    flex-direction: column;
    /* justify-content: flex-end; */
    border: 1px solid gray;
    background-color: #f2f2f2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
}

 /* .message_container {
    height: 250px;
    max-height: 250px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
    */
  /* .message_list {
    width: 299px;
    margin: auto;
    margin-left: 7px;
    border: 1px solid gray;
    background-color: #f2f2f2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth; /* Optional: Enables smooth scrolling */
  /* } */

 /* .message_list .message:last-child {
    margin-top: auto;  
  } */
.message_list::-webkit-scrollbar {
    width: 1px;

}
.chat_send_div{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: #00acee;
    margin-left: -17px;
}
.chat_send_icon{
    width: 24px;
    height: 24px;
    margin: 3px;
    cursor: pointer;
}
.message_input_div{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-around;
}
.chat_input{
    width: 245px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid gray;
    padding-left: 10px;
}
.chat_input:focus{
    outline: 0px;
}
.send_message {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    height: auto;
    margin-bottom: 3px;
    cursor: pointer;
  }
  
  .received_message {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: auto;
    margin-bottom: 3px;
  }
.send_message p{
    display: inline;
    background-color: #00acee;
    max-width: 70%;
    padding: 2px 5px 2px 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 5px;
}
.received_message p{
    display: inline;
    background-color: #fff;
    max-width: 70%;
    padding: 2px 8px 2px 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 5px;
}
.message_read p{
    border-left: 3px solid #ff6347;
}

















@keyframes slide-down {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }