
*{
    padding: 0px;
    margin: 0px;
}
html{
    height: 100%;
    width: 100%;
    position: fixed;
}
body{
    height: 100%;
    width: 100%;
    position: fixed;
}
.title{
    font-size: 50px;
    font-weight: bold;
    color: #00acee;
    display: inline;
    margin-top: 3rem;
    
}
.project_title{
    font-weight:bolder;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #ffffff;
}

.td{
    text-align: center;
    padding-top: 5rem;
}
.main .logo h3{
    max-width: 20rem;
    color: #ffffff;
}
.main .logo .li{
    color: #ffffff;

}
.main .logo img{
    height: 250px;
    width: 250px;
    border-radius: 200px;
}
body .main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 6rem;
    background-color: #00acee;
   border-radius: 200px;
   width: 900px;
   height: 600px;
}

.formlist{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
}
.with_mobile h2{
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 30px;
    color: #ffffff;
}
.bn{
    padding-top: 15px;
}
.main .with_mobile .formlist .form{
    padding-bottom: 10px;
    color: white;
}
.main .with_mobile .formlist .list{
    font-size: 18px;
    height: 25px;
    border:1px solid #ffffff;
    border-radius: 10px;
    padding-left: 15px;
}
.main .with_mobile .bn .loginbn{
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #ffffff;
    background-color: #00acee;
    color: white;
    width: fit-content;
}
.main .with_mobile .bn a{
    text-decoration: none;
}
.create{
    margin-top: 10px;
}
.create a{
    text-decoration: none;
    font-size: 18px;
}
.main .cm{
    color: white;
    font-weight: bold;
}
/* input validation */

input:valid{
    border: 1px solid green;
}
input:invalid{
    border-bottom: 1px solid red;
}




@media only screen and (max-width: 420px){
    .title{
        font-size: 20px;
        font-weight: bold;
        color: #00acee;
        display: inline;
        margin-top: 1rem;
        
    }

    body .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 1rem;
    background-color: #00acee;
    border-radius: 150px;
    width: 90%;
    height: 85vh;
    flex-wrap: nowrap;
    }
    .td{
        text-align: center;
        padding-top: 2rem;
    }

    .main .logo img{
        height: 100px;
        width: 100px;
        border-radius: 200px;
    }
    .main .logo h3{
        font-size: 16px;
        max-width: 15rem;
        color: #ffffff;
    }
    .main .logo h1{
        font-size: 25px;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
    }
    .with_mobile h2 {
        margin-bottom: 10px;
        margin-left:0px;
        font-size: 30px;
        color: #ffffff;
    }
    .create {
        margin-top: 20px;
    }
    .main .with_mobile .formlist .list {
        font-size: 18px;
        height: 25px;
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding-left: 15px;
        width: 50vw;
    }
}

    