*{
    padding: 0px;
    margin: 0px;
}
/*--header--*/
body header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #00acee;
    position: sticky;
    top: 0px;
    width: auto;
}
body header .logo{
    display: flex;
    align-items: center;
}
body header .logo img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-left: 30px;
}
body header .logo .name{
    font-size: 50px;
    color: white;
    margin-left: 10px;
}
body header .options{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
body header .options a{
    margin-left: 50px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
}
/*--center--*/
.center{
    height: 38rem;
    width:38rem;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #f2f3f4;
}
.center .profile_photo .dp img{
    display: block;
    margin: auto;
    border-radius: 300px;
    margin-top: -70px;
    border: 3px solid white;
}
.center .profile_photo .cover_img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.center .profile_photo .cover_img .profile{
    margin-top: -25px;
    width: 3rem;
    float: right;
    position: sticky;
    top: 160px;
    opacity: calc(0);
    z-index: 1;
}
.center .profile_photo .cover_img .fa{
    margin-top: -25px;
    float: right;
    position: sticky;
    margin-right: 10px
}
.center .profile_photo .dp .profile{
    width: 4rem;
    display: block;
    margin: auto;
    margin-top: -25px;
    opacity: calc(0);
}
.center .profile_photo .dp .fa{
    margin-left: 300px;
    display: block;
    margin-top: -23px;
}
.center .data_change{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.center .data_change input{
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    background-color: white;
    border: 1px solid #00acee;
    border-radius: 10px;
    width: 20rem;
}
.center .submit{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 30px;
}
.center .submit .sb{
    margin-top: 20px;
}
.center .submit .sb button{
    padding: 10px 25px 10px 25px;
    border: 2px solid #00acee;
    border-radius: 15px;
    background-color: white;
}