*{
    padding: 0px;
    margin: 0px;
}
/*--header--*/
body header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 70px;
    background-color:#00acee;
    position: sticky;
    top: 0px;
}
body header .logo img{
    border-radius: 25px;
    margin-left: 30px;
}
body header .options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-right: 100px;
}
body header .options a{
    margin-left: 50px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
}
/*--profile--*/
main{
    max-width: 38rem;
    margin: auto;
    height: 100%;
    padding: 0px 5px 0px 5px;
}
.center{
    border-radius: 10px;
    margin-top: 10px;
    background-color: #f2f3f4;
    padding: 0px 0px 10px 0px;
}
.center .profile_top{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.center .profile_top .back_button{
    padding-top: 8px;
}
.center .profile_top .back_button a{
    color: black;
}
.center .profile_top .user{
    margin-left: 30px;
}
.center .profile_top .post_count{
    font-size: 12;
    color: gray;
}

.center .profile_photo .cover_img img{
    width: 38rem;
    height: 200px;
}
.center .profile_photo .dp img{
    border-radius: 300px;
    margin-top: -70px;
    border: 2px solid white;
    background-color: white;
}
.center .profile_photo .dp {
    width: 135px;
    margin: auto;
}
.user_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center h2{
    color: #00acee;
    display: inline;
    margin: auto;
}
.center h3{
    padding-top: 10px;
    display: inline;
    margin: auto;
    color: #00acee;
}
.center .about_user{
    margin: auto;
    margin-top: 15px;
    max-width: 80%;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}
.center .about_user p{
    margin-left: 5px;
    display: inline;

    
}
.center .birth{
    padding: 15px 0px 15px 0px;
    text-align: center;
    margin-top: 15px;
}
.center .birth p{
    color: gray;
    
}
.center .bn{
    margin-top: 30px;
}
.center .bn .edit{
    margin-left: 270px;
}
.edit{
    padding: 10px 30px;
    border: 2px solid #00acee;
    border-radius: 15px;
    color: #00acee;
    background-color: white;
}
.center .follower_count{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 20px;
}
.center .follower_count span{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 30px 10px 30px;
    background-color: #d4d4d4;
    border-radius: 15px;
}
.center .follower_count span b{
    display: inline;
    margin: auto;
}
.center .follower_count .gray{
    color: gray;
    margin-left: 3px;
}
.center .followed_by{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
}
.center .followed_by div .follower{
    border-radius: 9px;
    margin-top: 3px;
}
.center .followed_by .follow2{
    margin-left: -9px;
}
.center .followed_by .you_follow span{
color: gray;
padding-left: 10px;
font-size: 14px;
}
.center .followed_by .you_follow a{
    color: gray;  
    text-decoration: none;
}
/*---post---*/
.postandlikes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #d4d4d4;
    border-radius: 10px;
    position: sticky;
    top: 70px;
}
main .postandlikes h2{
    padding-top: 5px;
    padding-bottom: 3px;
}
main .postandlikes .hilight{
    color: #00acee;
    border-bottom: 3px solid #00acee;
}
.post{
    max-width: 100%;
    margin: auto;
    margin-top: 15px;
    background-color:  #f2f3f4;
}
.post:hover{
    background-color: #e0e0e0;
}
.post .user_list{
    display: flex;
    flex-direction: row;
}
.post .user_list .img{
    padding-top: 10px; 
    margin-left: 20px;  
}
.post .user_list .img .profile_img{
    border-radius: 25px;
}
.post .user .user_name{
    font-size: 18px;
    color: #00acee;
    padding:15px 0px 0px 10px;
}
.post .user .post_cuntent{
    padding:10px 0px 0px 30px;
    max-width: 25rem;
}
.post .post_img{
    max-width: 20rem;
    height: auto;
    padding: 10px 0px 0px 80px;
}
.post .post_img img{
    width:100%;
    border-radius: 15px;
}
.post .like_comand .like_count{
    font-size: 14px;
    color: gray;
    margin-left: 5px;
    margin-top: -10px;
}
.post .like_comand{
    display: flex;
    flex-direction: row;
    margin: 20px 0px 10px 80px;
    padding-bottom: 15px;
}
.post .like_comand .like{
    width: 8rem;
    height: 2rem;
    background-color: #d4d4d4;
    border-radius: 15px;
    margin: 6px 0px 6px 0px;
}
.post .like_comand .comand{
    width: 8rem;
    height: 2rem;
    background-color: #d4d4d4;
    border-radius: 15px;
    margin: 6px 0px 6px 30px;
}
.post .like_comand a{
    text-decoration: none;
}
.like i,.comand i{
    margin-top: 5px;
    margin-left: 15px;
}
.post .like_comand .comand{
    padding-left: 20px;
}

.tag{
    color: #00acee;
}
a{
    text-decoration: none;
    color: black;
}
/*--job aleart-*/

main .job_aleart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 4rem;
    width: 38rem;
    margin-top: 10px;
    background-color: #f2f3f4;
    border-radius: 10px;
}
main .job_aleart .profile img{
    border-radius: 25px;
}
main .job_aleart .jobv{
    width: 25rem;
    padding-top: 15px;
    padding-left: 5px;
}
main .job_aleart .jobv .gray{
    color: gray;
}
main .job_aleart .bn button{
  border: 0px;
  border-radius: 10px;
  background-color: #00acee;
  color: white;
  padding: 10px 25px;
  margin-top: 10px;
}