*{
    padding: 0px;
    margin: 0px;
}
/*--header--*/
body header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 70px;
    background-color: #00acee;
    position: sticky;
    top: 0px;
    width: auto;
}
body header .logo img{
    border-radius: 25px;
    margin-left: 30px;
}
body header .options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin-right: 100px;
}
body header .options a{
    margin-left: 50px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
}

/*--notification--*/
main .notification_list{
    margin: auto;
    width: 35rem;
}
main .notification_list .list{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    height: 5rem;
    border-radius: 20px;
    margin-top: 10px;
}
main .notification_list .list:hover{
    background-color: lightgrey;
}
main .notification_list .list .profile{
    margin-top: 10px;
    margin-left: 10px;
}
main .notification_list .list .content{
    margin-left: 20px;
    padding-top: 10px;
    max-width: 15rem;
}
main .notification_list .list .follow button{
    margin-top: 25px;
    margin-left: 85px;
    border: 2px solid #00acee;
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #ffffff;
}